<article class="row comment-list">
    <h2 class="comment-heading-list">Comments</h2>
    {{#each this}}
    <div class="comment">
        <div class="col-12 comment-text">
            {{comment_text}}
        </div>
        <div class="col-12 comment-user">
            - {{user.username}} on {{format_date created_at}}
        </div>
    </div>
    {{/each}}
</article>