<div class="container">
    {{> post-info post}}
    
    <h3 class="comment-heading">Write a Comment:</h3>
    {{#if loggedIn}}
    <form class="comment-form row justify-content-end">
        <div class="col-12">
            <textarea name="comment-body" class="comment-body"></textarea>
        </div>

        <div class="col-2 comment-btn">
            <button type="submit" class="add-comment-btn">Add Comment</button>
        </div>
    </form>
    {{/if}}

    {{> comments post.comments}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}