* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    position: relative;
}

.header {
    margin: 18px 0;
}

.nav {
    margin: 20px;
    padding: 20px;
}

.nav a {
    text-decoration: none;
}

.nav h3 {
    color: white;
    width: 50%;
    margin: auto;
    padding: 15px 20px;
    background-color: #47A6FF;
    border-radius: 30px;
}

.nav h3:hover {
    background-color: #005FB8;
    border-radius: 30px;
}

.logout-btn,
.login-btn,
.signup-btn {
    padding: 15px 12px;
    width: 50%;
    border-radius: 30px;
    font-size: 24px;
    color: white;
    background-color: #47A6FF;
    border: none;
}

.login-btn,
.signup-btn {
    padding: 5px 0;
    width: 20%;
}

.title {
    color: white;
    width: 50%;
    margin: auto;
    background-color: #47A6FF;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 20px -16px #005FB8;
}

.post-list {
    margin-top: 30px;
    list-style-type: none;
}

.post-info,
.comment-list {
    margin: 15px 0;
    background-color: #005FB8;
    padding: 20px;
    border-radius: 8px;
}

.post-info a {
    text-decoration: none;
}

.post-title a {
    color: white;
}

.post-date {
    font-size: 21px;
    padding: 15px;
    text-align: end;
    color: white;
}

.post-content {
    padding: 10px 15px;
    font-size: 20px;
    background-color: aliceblue;
    border-radius: 3px;
}

.post-content a {
    color: #005FB8;
}

.forms {
    margin-top: 30px;
    padding: 20px;
    background-color: #005FB8;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

.forms h3 {
    text-decoration: underline;
}

.forms div {
    padding: 10px;
}

.comment-heading {
    font-weight: 600;
    text-decoration: underline;
    padding: 15px;
}

.comment-list {
    background-color: #47A6FF;
    color: white;
}

.comment-text {
    padding: 15px;
}

.comment-user {
    text-align: end;
    padding: 15px;
}

.comment {
    background-color: aliceblue;
    color: #005FB8;
    margin: 10px 0;
    border: 2px solid #005FB8;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
}

.comment-body,
.post-content-textarea,
.post-tile-textarea {
    width: 100%;
    min-height: 180px;
    background-color: white;
    padding: 15px;
    border: 1px solid #47A6FF;
    border-radius: 10px;
}

.post-tile-textarea {
    min-height: 30px;
}

.comment-btn {
    text-align: center;
    margin: 20px 0;
}

.add-comment-btn {
    padding: 15px;
    text-align: center;
    background-color: #47A6FF;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

.user-post-list {
    background-color: #47A6FF;
    padding: 30px;
    border-radius: 8px;
}

.user-post-list li {
    list-style: none;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.user-posts-title {
    padding: 15px;
    color: aliceblue;
    font-weight: 700;
    text-decoration: underline;
}

.edit-link {
    background-color: aliceblue;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    color: #47A6FF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.new-post-labels,
.new-post-heading {
    font-weight: 600;
    color: #005FB8;
    padding: 10px;
    font-size: 20px;
}

.new-post-heading {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    width: 100%;
    font-size: 25px;
    margin-top: 40px;
    color: white;
    background-color: #47A6FF;
    font-weight: 600;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.create-new-post {
    margin: 20px 0;
    padding: 20px 0;
}
.create-btn {
    width: 50%;
    margin: auto;
    background-color: #005FB8;
    padding: 18px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}